
@import "nib"
@import "normalize.styl"
@import "icons.styl"


rojo = #FF004C
oscuro = #384353
vino = #BB0034
azul = #2b3747
gris = #7f8c9b

*
	box-sizing border-box
	
body
	//font-family 'Open Sans', sans-serif
	font-family: 'Lato', sans-serif;
	font-weight 300
	line-height 25px
	font-size 14px !important
	color white
	background #F8F8F8

	&:before
		content: url(./img/bg-home.jpg) url(./img/bg-page1.jpg) url(./img/bg-page2.jpg) url(./img/bg-page3.jpg);
		display:none;


h1
h2
	color oscuro
	font-size 2em
	line-height 40px
	margin-top 0
	margin-bottom 0
	font-family 'Open Sans', sans-serif
	font-weight 700
h3 
	color rojo
	margin-top 10px
	margin-bottom 15px
	font-size 13px
	text-transform uppercase
	font-family 'Open Sans', sans-serif
	font-weight 700
a 
	text-decoration	none

ul 
	margin 0
	padding 0
p 
	margin-top 0
	margin-bottom 15px

img
	max-width 100%
	height auto
	
input[type="text"]
input[type="email"]
textarea
	width 100%
	height 32px 

textarea
	height auto;

input[type="submit"]
	background-color gris
	color white 
	padding .5rem 2rem
	text-transform uppercase
	border none
	outline none
/*#fullpage
	display none*/
.wpcf7-submit
.btn
	padding .5rem .8rem
	display inline-block
	color #000
	transition all .5s ease
	border 1px solid amarillo
	box-shadow 0 1px 1px rgba(0, 0, 0, .75)
	font-weight 700
	text-transform uppercase
	background-color white
	&:hover
		background-color gris
		border-color #d6d6d6
		box-shadow 0 1px 1px gris
		color azul
.wpcf7-submit
.btn-azul
	background-color azul
	border-color azul
	color #FFF
	
.show-site
	display block !important

.inner
	position relative
	z-index 2
	width 70% //50%
	margin 0 auto
@media screen and (min-width: 800px)
	.inner
		width 50%
		

.header
	position fixed
	top 0
	right 0
	left 0
	width 100%
	height 60px
	z-index 100
	background-color white
	//display none		
	&-logo 
		width 250px
		display none
		&-small
			display block
			width 50px 
			margin-top 5px
	&-menu
		color #000
		display none
		background-color white
		position absolute
		top 55px
		left 0
		right 0
		width 100% 
		padding .5rem
		ul 
			text-align center
		li 
			position relative
		a 
			display block
			padding .5rem
			color azul
			text-transform uppercase
			font-family 'Open Sans', sans-serif
			font-weight 400
			&:hover
				border-bottom 1px solid gris	
	&-btn-menu
		position absolute
		right 0
		top 6px
		background-color transparent
		color #000
		border none
		font-size 1.8rem
		outline none
	&-social
		background-color white
		text-align center
		border-top 1px solid gris
		&-item 
			color oscuro
			padding .3rem .8rem
			font-size 1.2rem
			display inline-block
			&:hover
				color gris

@media screen and (min-width:900px)
	.header
		.inner 
			width 70%
		&-logo 
			display block
			float left
			&-small
				display none
		&-menu
			display block !important
			float right
			position static
			background-color transparent
			width auto
			
			li 
				display inline-block
				vertical-align top
				
			.sub-menu
				display none
				position absolute
				background-color azul
				color white
				width 200px
				font-size 13px
				top 55px
				left 50%
				transform translate(-50%, 0)
				
				a 
					color white
				li 
					display block
					position relative
					
				.sub-menu
					top 0
					left auto
					right -180px
					transform translate(0, 0)
					background-color gris
					
				
				
		&-btn-menu
			display none
		&-social
			position absolute
			right 0
			border-top none
			top 10px
			&-item 
				padding .3rem .5rem

.section
	text-align center
	overflow hidden
		
	h2
		font-size 1.5rem //3rem
		text-transform uppercase
	
	&-title
		margin-bottom 0
	&-bg
		background-size cover
		background-position center center
		background-repeat no-repeat
		background-size cover
		//background-attachment fixed
		position absolute
		top 0
		left 0
		width 100%;
		height 100%
		&:after
			content ''
			background rgba(0,0,0,.35)
			position absolute
			left 0
			right 0
			bottom 0
			top 0
			width 100%
			height 100%
				
		video
			position: absolute;
			left 0
			right: 0;
			bottom: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			
	article.film
	article.page
		padding-top 3.8rem

/*@media screen and (min-width: 800px)
	.section
		h2
			font-size 2rem*/

.slide 
	background #F8F8F8//background url('./img/bg.png') #FFF
	&-container
		display flex
		align-items: center;
		justify-content: center;
		height 100%
	&-bottom 
		position absolute
		bottom 0
		left 0
		right 0
		width 100%
		background-color rgba(255,255,255,.25)
		padding .5rem
		font-size 1rem
		&-text 
			text-align left
	&-banner
		width 100%
		height 290px
		position relative
		overflow hidden
		padding-top 3.8rem
		&:after
			content ''
			background rgba(0,0,0,.35)
			position absolute
			left 0
			right 0
			bottom 0
			top 0
			width 100%
			height 100%
		video
			position absolute
			left 0
			right 0
			width 100%
	&-home
		background none
		
		p
			text-shadow 1px 1px 2px rgba(0,0,0,.75)

		> article
			position relative
			z-index 999 
			
		
	/*&-detail
		p
			text-shadow 1px 1px 2px rgba(0,0,0,.75)*/
	&-title
		color white
		font-size 45px
		line-height 45px
		font-family 'Open Sans', sans-serif
		font-weight 400

@media screen and (min-width: 768px)
	.slide
		&-banner
			height 490px
@media screen and (min-width: 1200px)
	.slide
		&-banner
			height 550px


.films
	background-color white
	padding-bottom 2rem
	&-title
		background-color white 
		padding 2rem .5rem
		font-size 1.5rem !important
		text-align center
		text-transform uppercase
	&-container
		display flex
		flex-wrap wrap 
		justify-content space-between
		//margin-bottom .5rem
		
	&-item 
		width 100%//33%
		height 430px//330px
		position relative
		overflow hidden
		&:hover
			.films-item-link
				opacity 0
		&-link
		&-img
			position absolute 
			left 0
			right 0
			bottom 0
			top 0
			width 100%
			height 100%
		&-link
			//background-color rgba(#333,0.4)
			opacity 1
			transition all .5s ease
		&-img 
			background-position center center
			background-size cover
			background-repeat no-repeat
			top -40px
		&-title
			background-color white
			color azul
			position absolute
			bottom 0
			left 0
			right 0
			text-align center
			
			h3
				margin-bottom 0
			a 
				color azul
				&:hover
					color gris
/*@media screen and (min-width: 740px)
	.films
		&-item
			width 500px*/
/*@media screen and (min-width: 1024px)
	.films
		&-item
			width 33% */ 
			
/*@media screen and (min-width: 1600px)
	.films
		&-item 
			height 430px*/

.film
	position relative
	&-content-img
		background-size cover
		background-position center center
		background-repeat no-repeat
		width 100%
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		
	&-container
		display flex
		flex-wrap wrap
		justify-content space-between
		position relative
		background-color rgba(0,0,0,.25)
		
	&-content
		width 100%//33.33%
		min-height 250px
		background-color rgba(0,0,0,.75)
		padding 2rem
		color white
		font-size 1rem
		order: 2;
		a 
			color gris
	&-video
		position relative
		width 100%
		height 300px
		order: 1;
		iframe
			width 100%
			height 100%
				
	&-title 
		margin-bottom 1rem
		color gris !important
@media screen and (min-width: 980px)
	.film
		&-content
			width 33.33%
			min-height 400px
			order: 1; 
		&-video
			margin-top 2rem
			width 50%
			height 330px
			margin-right 5rem
			order: 2;

@media screen and (min-width: 1600px)
	.film
		&-content
			min-height 500px 
		&-video
			width 50%
			height 430px 

.feedback
	padding 3rem .5rem
	.quote
		width 40px !important
		display block
		float left
		display none
	&-title
		text-align center
		margin-bottom 2rem
		color azul !important
		text-transform uppercase
	&-item
		background-color white
		padding 3rem 4rem
		width 100%
		margin 0 auto
		font-size 1.2rem
		box-shadow 1px 1px 5px rgba(0,0,0,.2)
		color #303642
		margin-bottom .5rem
		
		
@media screen and (min-width: 980px)
	.feedback
		&-item
			width 60%
			.quote
				display block
			&-text 
				padding-left 3.5rem
		
.contact 
	padding 3rem .5rem
	text-align center
	font-size 1.5rem
	background-color azul
	color #fff
	.btn
		display inline-block
		font-size 1rem

.terms-conditions
.contact-us
	display block
	position fixed
	z-index 99999
	top 0
	right -550px
	width 550px
	height 100%
	background #152233
	color #FFF
	padding 20px 15px 40px 40px
	box-sizing border-box
	transition all .2s ease
	&.open 
		right 60px
	h1
		color gris
	h4
		color rojo
		text-transform uppercase
		font-weight 700
		margin 10px 0 30px
	li 
		font-size 14px
		line-height 21px
		margin-bottom 20px
		list-style disc outside
		margin-left 20px
	.close
		display block
		position absolute
		width 60px
		height 60px
		top 0
		right -60px
		background #23272F
		transition all .2s ease
		color #FFF
		font-size 3em
		

		i 
			
			position absolute
			top 8px
			left 8px
			transition all .2s ease
		   

		&:hover
			background #363C45
			i
				transform rotate(90deg)
.terms-conditions-content
.contact-us-content
	height 100%



.scroller
	text-align center
	color #FFF
	font-size 12px
	font-weight 700
	text-transform uppercase
	i 
		display block
		margin 0 auto
		font-size 4.5em
		color
	b 
		color azul 
		
	&-img
		display block
		margin 0 auto

body.fp-viewing-0-1
body.fp-viewing-1-1
body.fp-viewing-2-1
body.fp-viewing-3-1
body.fp-viewing-4-1
body.fp-viewing-5-1
body.fp-viewing-6-1
.single-film
	#fp-nav
		display none
	
#fp-nav
	ul li a span
		height 8px
		width 8px
		background rgba(255,255,255,0.5) 

	&.right
		right 0
	span
		background rgba(255,255,255,0.5) 
		border none 
		opacity .7
		transform scale(0.7) 
		transition all .2s ease
		width 12px
		height 12px
		

	&:hover		
	.active
		span
			background white !important
			transform scale(1) 
			opacity 1
@media screen and (min-width: 800px)
	#fp-nav
		&.right
			right 65px 
.fp-controlArrow
	border none
	//top auto
	//bottom 0
	&.fp-prev
	&.fp-next
		font-family 'FontAwesome'
		font-size 4em
		color white
		display block
		height 50px
		width 50px
		//background-color rgba(256,256,256,0.85)
		//border-radius 50%
		//box-shadow 1px 1px 2px rgba(0,0,0,0.75)
		&:hover
			background-color rgba(256,256,256,1)
			color oscuro
		
		

	&.fp-prev
		&:before
			content "\f104"
			position absolute
			top 50%
			left 50%
			transform translate(-50%,-50%)
	&.fp-next
		//right 2.5rem
		&:before
			content "\f105"
			position absolute
			top 50%
			left 50%
			transform translate(-50%,-50%)
				
/*@media screen and (min-width: 800px)
	.fp-controlArrow
		&.fp-next
			right 180px*/

.owl-nav
	position absolute
	top -70px
	right 1rem
	.owl-prev
	.owl-next
		display inline-block
		font-size 3rem
		color azul
		padding .5rem .8rem
@media screen and (min-width: 768px)
	.owl-nav
		right 5rem				
